body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
}

header {
    text-align: center;
    padding: 20px;
}


/* Navbar Styling */

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 15%;
    padding-top: 5%;
}

nav {
    height: 20vh;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #555;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4514e;
    padding: 10px 20px;
}

.bio {
    text-align: center;
    padding: 20px;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: #0077b5;
    font-weight: bold;
}

/* Navbar Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.logo {
    color: #fff;
    font-size: 10px;
    font-weight: bold;
}






/* Responsive Navbar */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: #333;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .nav-links.active {
        display: flex;
    }


}

.timeline {
    display: flex;
    flex-direction: column;
    /* Aligns events vertically */
    gap: 20px;
    /* Adds space between events */
    align-items: center;
    justify-content: space-between;
}

.event {
    width: 80%;
    background: #fff;
    flex: 1;
    margin: 10px 0;
    border-left: 3px solid #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* Places text and image on opposite sides */
    align-items: center;
    /* Vertically centers content */

    padding: 10px 50px;
    /* Optional: Adds padding for spacing */
}

.text {
    flex: 1;
    /* Text takes up available space */
    font-family: Arial, sans-serif;
}

.image img {
    max-width: 150px;
    /* Adjust image size as needed */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Ensures proper image rendering */


}

.event:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h3,
h1 {
    color: #e4514e;
}